$space-md: 32px;
$space-xs: 16px;

.hn-item {
    display: flex;
    background: #fff;
    border-bottom: 1px solid #ccc;
    align-items: center;

    .hn-item-left {
        flex: 95%;
        display: flex;
        padding: $space-xs $space-md;
        cursor: pointer;

        &:hover {
            background: #fafafa;
        }

        .hn-title-container {
            flex: 90%;
            display: flex;
            
            .hn-title {
                color: #333;
                font-size: 13px;
            }
            
            .hn-author {
                color: #999;
                font-size: 12px;
            }
        }
    
        .hn-date-container {
            flex: 10%;
            display: flex;

            .hn-date{
                color: #333;
                font-size: 13px;
            }
        }
    }

    .hn-actions {
        flex: 5%;
        display: flex;
        padding: $space-xs $space-md;
    }
}