<div class="hn-item">
    <div class="hn-item-left" (click)="onClickItem()">
        <div class="hn-title-container">
            <div class="hn-title">
                {{title}}
            </div>
            <div class="hn-author">
                {{author}}
            </div>
        </div>
    
        <div class="hn-date-container">
            <div class="hn-date">
                {{date | niceDatePipe}}
            </div>
        </div>
    </div>
    
    <div class="hn-actions">
        <button mat-icon-button (click)="deleteHn()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>