<div class="hn">
    <div class="hn-header">
        <h1>{{title}}</h1>
        <h3>{{description}}</h3>
    </div>
    <div class="hn-container">
        <app-hn-list></app-hn-list>
    </div>
</div>