$space-lg: 64px;
$space-md: 32px;
$hn-header-background-color: #333;
$hn-header-color: #fff;

.hn {
    display: flex;
    flex-direction: column;

    .hn-header{
        background: $hn-header-background-color;
        color: $hn-header-color;
        padding: $space-lg $space-md;
    }

    .hn-container {
        padding: $space-md;
    }
}
