<div class="hn-list">
    <ng-container *ngFor="let hn of hns$ | async; index as i">
        <app-hn-item *ngIf="verifyHn(hn)" [hn]="hn" (onDelete)="deleteHnByIndex($event, i)"></app-hn-item>
    </ng-container>
</div>